TWITTER_API_KEY=
TWITTER_API_KEY_SECRET=
TWITTER_BEARER_TOKEN=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
GEMINI_API_KEY=

# Bot configuration
BOT_TIMEZONE=Asia/Kolkata  # IST timezone
BOT_POST_HOUR=9  # 9 AM
BOT_POST_MINUTE=0  # 0 minutes
BOT_POST_FREQUENCY=daily  # Daily posting


TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
